.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fffffe;
}

.container > div {
  width: 48%;
  margin-bottom: 20px;
}

.slider1 {
  order: 1;
}

.dropdown {
  order: 2;
}

.slider2 {
  order: 3;
}

.webcam {
  order: 4;
}

.webcam-image {
  transform: scaleX(-1); /* mirror webcam */
}

@media screen and (max-width: 575px) {
  .container {
    flex-direction: column;
  }

  .container > div {
    width: 100%;
  }

  .webcam-image {
    width: 480px;
  }

  .dropdown {
    order: 1;
  }

  .webcam {
    order: 2;
  }

  .slider1 {
    order: 3;
  }

  .slider2 {
    order: 4;
  }
}
